{% extends "myapp/index.html" %}
{% load humanize %}

{% block content %}
<div class="flex p-10 w-full h-200">
  <img class="w-1/4" src="{{item.image.url}}" alt="itemPizza">
  <div class="w-3/4 text-xl ml-10 mt-10">
    <p class="mt-5">{{item.name}}</p>
    <p class="mt-5 text-green-500">$ {{item.price | intcomma}}</p>
    <p class="mt-5 text-gray-600">{{item.description}}</p>
    <button class="bg-orange-500 text-white mt-[50px]">
      <a href="{% url 'myapp:update_pizza_item' item.id %}">Update item</a>
    </button>
    <button class="bg-red-500 text-white mt-[50px]">
      <a href="{% url 'myapp:delete_pizza_item' item.id %}">Delete item</a>
    </button>
  </div>
</div>
{% endblock content %}